@mixin prefall($first, $second) {
    @include prefixer($first, $second, webkit moz ms o spec);
}

@mixin flexdisplay() {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

$break-small: 720px;
$break-large: 1366px;

@mixin respond-to($media) {
  @if $media == small-screens {
    @media only screen and (max-width: $break-small)
    {
      @content;
    }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}
