doctype html
html(lang="es")
  head
    // #### META tags #### 
    // Meta tags browser 
    meta(charset="utf-8")
    meta(http.equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    // Meta tags Description 
    meta(name="description" content="Portafolio personal de Jean Pierre Barcia Ruidias")
    meta(name="author" content="jpbarcia")
    meta(name="keywords" content="jpbarcia, jean pierre barcia, barcia, portfolio, portafolio, personal, proyectos, github, jeanpbarcia")
    // Meta tags Open Graph 
    // -URL BASE 
    meta(property="og:url" content="jpbarcia.github.io")
    // -TITULO DE LA APLICACION 
    meta(property="og:site_name" content="Portafolio - JPBarcia")
    // -TITULO DE LA PAGINA 
    meta(property="og:title" content="Portafolio JPBarcia")
    // -DESCRIPCION 
    meta(property="og:description" content="Portafolio personal de JPBarcia")
    // -UBICACIÓN 
    meta(property="og:locale" content="es_PE")
    // -IMAGEN REPRESENTATIVA 
    meta(property="og:image" content="")

    // #### TITLE #### 
    title Portafolio - JPBarcia

    // #### FONTS #### 
    // Open Sans Condensed - Titles 
    //link(href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet")
    // Raleway - Body 
    link(href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,800,800i" rel="stylesheet")
    // Open Sans - Body
    //link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i" rel="stylesheet")

    // #### ICON ####
    link(rel="icon" href="assets/img/favicon.ico")
    link(rel="stylesheet" href="assets/css/main.css")
    
  body
    h1 Ejemplo
  
    script(src="assets/js/main.js")
