@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans"), local("FiraSans-Regular"), url(http://fonts.gstatic.com/s/firasans/v5/EjsrzDkQUQCDwsBtLpcVQZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"), url(http://fonts.gstatic.com/s/firasans/v5/DugPdSljmOTocZOR2CItOhampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Mono"), local("FiraMono"), url(http://fonts.gstatic.com/s/firamono/v3/SlRWfq1zeqXiYWAN-lnG-pBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  transition: all 0.3s ease;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: #efefef;
  height: 100%;
  min-height: 100%;
  font-size: 1em;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  color: #444444;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, img, a, span, nav, section, ul, li, table, tr, td, th, hr, header, div, footer {
  margin: 0;
  padding: 0;
}

::selection {
  background: #FFF498;
}

::-moz-selection {
  background: #FFF498;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #FFF498;
}

header {
  width: 6.25em;
  padding: 0.3125em;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
  min-height: 384px;
  z-index: 10;
}
@media (max-width: 760px) {
  header {
    right: 0;
    bottom: auto;
    width: auto;
    height: 50px;
    padding: 0;
    display: block;
    min-height: auto;
    transition: all 0.75s ease;
  }
}

.header-name {
  display: flex;
  color: #bbbbbb;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
}
@media (max-width: 760px) {
  .header-name {
    position: relative;
    height: 100%;
    flex: none;
    flex-direction: row;
    z-index: 100;
    background-color: white;
  }
}
.header-name .container {
  padding: 10px 0 0 0;
}
.header-name .container h1 {
  padding: 0.3125em 0;
  font-size: 2em;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: -0.1em;
}
@media (max-width: 760px) {
  .header-name .container {
    display: none;
  }
}
.header-name hr {
  color: #bbbbbb;
  background-color: #bbbbbb;
  width: 100%;
}
@media (max-width: 760px) {
  .header-name hr {
    display: none;
  }
}
.header-name .small-nav-header {
  display: none;
}
@media (max-width: 760px) {
  .header-name .small-nav-header {
    display: inline-block;
    width: 100%;
    height: 50px;
    text-align: center;
  }
  .header-name .small-nav-header h2 {
    display: inline-block;
    color: #444444;
    font-size: 1.6em;
    font-weight: 400;
    letter-spacing: -0.07em;
    padding: 5px;
    padding-left: 60px;
  }
}
.header-name .small-nav-toggle {
  display: none;
  transition: all;
}
@media (max-width: 760px) {
  .header-name .small-nav-toggle {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 10px;
  }
  .header-name .small-nav-toggle span {
    display: block;
    width: 30px;
    height: 2px;
    position: relative;
    color: #111;
    background-color: #111;
    transition: all 0.75s ease;
  }
  .header-name .small-nav-toggle span:before {
    top: -12px;
  }
  .header-name .small-nav-toggle span:after {
    top: 10px;
  }
  .header-name .small-nav-toggle span:after, .header-name .small-nav-toggle span:before {
    content: " ";
    display: block;
    width: 30px;
    height: 2px;
    position: relative;
    color: #111;
    background-color: #111;
    transition: all 0.5s ease;
  }
}

nav {
  flex: 2;
}
@media (max-width: 760px) {
  nav {
    flex: none;
    height: 0px;
    position: relative;
    z-index: 10;
    box-shadow: none;
  }
}
nav ul {
  text-align: right;
  width: 100%;
  padding: 15px 0;
}
@media (max-width: 760px) {
  nav ul {
    text-align: center;
    transform: translateY(-100%);
    padding: 0;
    background-color: white;
  }
}
nav li {
  list-style-type: none;
  padding: 5px 0;
}
@media (max-width: 760px) {
  nav li {
    border-bottom: 1px solid #dddddd;
  }
  nav li:last-child {
    border-bottom: none;
  }
}
nav a {
  color: #5c5c5c;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid white;
}
@media (max-width: 760px) {
  nav a {
    font-size: 1.2em;
  }
}
nav a:visited {
  color: #5c5c5c;
}
nav a:hover, nav a:focus {
  color: #292929;
  border-bottom: 1px solid #292929;
}
@media (max-width: 760px) {
  nav a:hover, nav a:focus {
    border-bottom: 1px solid white;
  }
}

#overlay {
  visibility: hidden;
  height: 0;
}

@media (max-width: 760px) {
  .is-open {
    border-bottom: 1px solid #dddddd;
  }
  .is-open .small-nav-toggle span {
    background-color: transparent;
  }
  .is-open .small-nav-toggle span:before {
    top: 1px;
    transform-origin: center;
    transform: rotate(45deg);
  }
  .is-open .small-nav-toggle span:after {
    top: -1px;
    transform-origin: center;
    transform: rotate(-45deg);
  }
  .is-open nav {
    height: auto;
    border-bottom: 1px solid #aaa;
  }
  .is-open nav ul {
    text-align: center;
    height: auto;
    background-color: white;
    transform: translateY(0);
  }
  .is-open #overlay {
    visibility: visible;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100vh;
    align-self: stretch;
    text-align: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.44);
  }
}

#acercade {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #c9c9c9;
  background-image: url("/assets/img/code.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: screen;
}
#acercade .header {
  display: flex;
  width: 100%;
  flex: 1;
}
#acercade .header h1 {
  display: inline-block;
  margin: auto;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: -0.05em;
  color: #444444;
}
#acercade .container {
  display: flex;
  width: 100%;
  flex: 3;
}
#acercade .container .profile-picture {
  flex: 2;
  display: flex;
}
#acercade .container .profile-picture .picture {
  display: flex;
  width: 12.5em;
  height: 15.625em;
  margin: auto 0.625em auto auto;
  border: 0.125em solid white;
  border-radius: 50%;
  background-image: url("/assets/img/profile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 3px 2px #dddddd;
}
#acercade .container .profile-description {
  display: flex;
  padding: 15px;
  margin: auto;
  flex: 3;
}
#acercade .container .profile-description .description {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 550px;
}
#acercade .container .profile-description h2 {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: -0.08em;
  color: #444444;
}
#acercade .container .profile-description p {
  text-align: justify;
  color: #7f7f7f;
  font-size: 1em;
  font-weight: 400;
}
#acercade .container .profile-description a {
  text-align: center;
  color: #444444;
  padding: 0.2em 0.6em;
  width: 7em;
  margin-left: auto;
  text-decoration: none;
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  border: 1px solid #c3c3c3;
  border-radius: 0.2em;
  background-color: white;
  box-shadow: 0 0 2px 1px #dddddd;
}
#acercade .container .profile-description a:visited {
  color: #444444;
  text-decoration: none;
}
#acercade .container .profile-description a:hover, #acercade .container .profile-description a:focus {
  color: #444444;
  text-decoration: none;
  box-shadow: 0 0 2px 1px #b4b4b4;
}
#acercade .footer {
  display: flex;
  width: 100%;
  flex: 1;
}

#habilidades {
  background-color: black;
  color: white;
  height: 100%;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-content: center;
  background-image: url("/assets/img/workspace.jpg");
  background-color: rgba(135, 67, 67, 0.8);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
}
#habilidades .header {
  display: flex;
  width: 100%;
  flex: 2;
}
#habilidades .header h1 {
  display: inline-block;
  margin: auto;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: -0.05em;
  color: #eeeeee;
}
#habilidades .container {
  display: flex;
  width: 100%;
  max-width: 910px;
  max-height: 550px;
  margin: auto;
  flex: 7;
  flex-direction: row;
  justify-content: center;
}
#habilidades .container .skills {
  display: flex;
  margin: 0 15px;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
}
#habilidades .container .knowledge {
  display: flex;
  margin: 0 15px;
  flex-direction: column;
  flex: 1;
}
#habilidades .footer {
  display: flex;
  width: 100%;
  flex: 1;
}

.skill-container {
  width: 50%;
  display: flex;
  padding-bottom: 10px;
  flex-direction: column;
  justify-content: center;
}
.skill-container * {
  transition: all 1.75s ease;
}
.skill-container h3 {
  margin: auto;
  font-size: 1.25em;
  font-weight: 400;
  text-align: center;
}

.skill-progress {
  display: flex;
  justify-content: center;
}

.radial {
  height: 75px;
  width: 75px;
  margin: 10px auto;
  position: relative;
  border: 3px solid #BF6C6C;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.08);
}
.radial .circle {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}
.radial .full {
  clip: rect(0, 75px, 75px, 37.5px);
}
.radial .half {
  clip: rect(0, 75px, 75px, 37.5px);
}
.radial .mask {
  clip: rect(0, 37.5px, 75px, 0);
  background-color: #dbdcd7;
  backface-visibility: hidden;
}
.radial .overlay {
  display: flex;
  height: 72%;
  width: 72%;
  margin-left: 14%;
  margin-top: 14%;
  justify-content: center;
  background-color: #BF6C6C;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}
.radial .overlay-header {
  height: 25px;
  width: 45px;
  margin: auto;
  overflow: hidden;
}
.radial .overlay .numbers {
  display: flex;
  margin-top: -25px;
  flex-wrap: wrap;
}
.radial .overlay .numbers span {
  display: inline-block;
  height: 25px;
  width: 45px;
  color: #eeeeee;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}
.radial .shadow {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5) inset;
  backface-visibility: hidden;
}

.skill-container[data-skill="0"] .radial .full {
  transform: rotate(0deg);
}
.skill-container[data-skill="0"] .radial .mask {
  transform: rotate(0deg);
}
.skill-container[data-skill="0"] .radial .mask-fix {
  transform: rotate(0deg);
}
.skill-container[data-skill="0"] .radial .numbers {
  min-width: 45px;
}

.skill-container[data-skill="1"] .radial .full {
  transform: rotate(1.8deg);
}
.skill-container[data-skill="1"] .radial .mask {
  transform: rotate(1.8deg);
}
.skill-container[data-skill="1"] .radial .mask-fix {
  transform: rotate(2.7deg);
}
.skill-container[data-skill="1"] .radial .numbers {
  min-width: 90px;
}

.skill-container[data-skill="2"] .radial .full {
  transform: rotate(3.6deg);
}
.skill-container[data-skill="2"] .radial .mask {
  transform: rotate(3.6deg);
}
.skill-container[data-skill="2"] .radial .mask-fix {
  transform: rotate(5.4deg);
}
.skill-container[data-skill="2"] .radial .numbers {
  min-width: 135px;
}

.skill-container[data-skill="3"] .radial .full {
  transform: rotate(5.4deg);
}
.skill-container[data-skill="3"] .radial .mask {
  transform: rotate(5.4deg);
}
.skill-container[data-skill="3"] .radial .mask-fix {
  transform: rotate(8.1deg);
}
.skill-container[data-skill="3"] .radial .numbers {
  min-width: 180px;
}

.skill-container[data-skill="4"] .radial .full {
  transform: rotate(7.2deg);
}
.skill-container[data-skill="4"] .radial .mask {
  transform: rotate(7.2deg);
}
.skill-container[data-skill="4"] .radial .mask-fix {
  transform: rotate(10.8deg);
}
.skill-container[data-skill="4"] .radial .numbers {
  min-width: 225px;
}

.skill-container[data-skill="5"] .radial .full {
  transform: rotate(9deg);
}
.skill-container[data-skill="5"] .radial .mask {
  transform: rotate(9deg);
}
.skill-container[data-skill="5"] .radial .mask-fix {
  transform: rotate(13.5deg);
}
.skill-container[data-skill="5"] .radial .numbers {
  min-width: 270px;
}

.skill-container[data-skill="6"] .radial .full {
  transform: rotate(10.8deg);
}
.skill-container[data-skill="6"] .radial .mask {
  transform: rotate(10.8deg);
}
.skill-container[data-skill="6"] .radial .mask-fix {
  transform: rotate(16.2deg);
}
.skill-container[data-skill="6"] .radial .numbers {
  min-width: 315px;
}

.skill-container[data-skill="7"] .radial .full {
  transform: rotate(12.6deg);
}
.skill-container[data-skill="7"] .radial .mask {
  transform: rotate(12.6deg);
}
.skill-container[data-skill="7"] .radial .mask-fix {
  transform: rotate(18.9deg);
}
.skill-container[data-skill="7"] .radial .numbers {
  min-width: 360px;
}

.skill-container[data-skill="8"] .radial .full {
  transform: rotate(14.4deg);
}
.skill-container[data-skill="8"] .radial .mask {
  transform: rotate(14.4deg);
}
.skill-container[data-skill="8"] .radial .mask-fix {
  transform: rotate(21.6deg);
}
.skill-container[data-skill="8"] .radial .numbers {
  min-width: 405px;
}

.skill-container[data-skill="9"] .radial .full {
  transform: rotate(16.2deg);
}
.skill-container[data-skill="9"] .radial .mask {
  transform: rotate(16.2deg);
}
.skill-container[data-skill="9"] .radial .mask-fix {
  transform: rotate(24.3deg);
}
.skill-container[data-skill="9"] .radial .numbers {
  min-width: 450px;
}

.skill-container[data-skill="10"] .radial .full {
  transform: rotate(18deg);
}
.skill-container[data-skill="10"] .radial .mask {
  transform: rotate(18deg);
}
.skill-container[data-skill="10"] .radial .mask-fix {
  transform: rotate(27deg);
}
.skill-container[data-skill="10"] .radial .numbers {
  min-width: 495px;
}

.skill-container[data-skill="11"] .radial .full {
  transform: rotate(19.8deg);
}
.skill-container[data-skill="11"] .radial .mask {
  transform: rotate(19.8deg);
}
.skill-container[data-skill="11"] .radial .mask-fix {
  transform: rotate(29.7deg);
}
.skill-container[data-skill="11"] .radial .numbers {
  min-width: 540px;
}

.skill-container[data-skill="12"] .radial .full {
  transform: rotate(21.6deg);
}
.skill-container[data-skill="12"] .radial .mask {
  transform: rotate(21.6deg);
}
.skill-container[data-skill="12"] .radial .mask-fix {
  transform: rotate(32.4deg);
}
.skill-container[data-skill="12"] .radial .numbers {
  min-width: 585px;
}

.skill-container[data-skill="13"] .radial .full {
  transform: rotate(23.4deg);
}
.skill-container[data-skill="13"] .radial .mask {
  transform: rotate(23.4deg);
}
.skill-container[data-skill="13"] .radial .mask-fix {
  transform: rotate(35.1deg);
}
.skill-container[data-skill="13"] .radial .numbers {
  min-width: 630px;
}

.skill-container[data-skill="14"] .radial .full {
  transform: rotate(25.2deg);
}
.skill-container[data-skill="14"] .radial .mask {
  transform: rotate(25.2deg);
}
.skill-container[data-skill="14"] .radial .mask-fix {
  transform: rotate(37.8deg);
}
.skill-container[data-skill="14"] .radial .numbers {
  min-width: 675px;
}

.skill-container[data-skill="15"] .radial .full {
  transform: rotate(27deg);
}
.skill-container[data-skill="15"] .radial .mask {
  transform: rotate(27deg);
}
.skill-container[data-skill="15"] .radial .mask-fix {
  transform: rotate(40.5deg);
}
.skill-container[data-skill="15"] .radial .numbers {
  min-width: 720px;
}

.skill-container[data-skill="16"] .radial .full {
  transform: rotate(28.8deg);
}
.skill-container[data-skill="16"] .radial .mask {
  transform: rotate(28.8deg);
}
.skill-container[data-skill="16"] .radial .mask-fix {
  transform: rotate(43.2deg);
}
.skill-container[data-skill="16"] .radial .numbers {
  min-width: 765px;
}

.skill-container[data-skill="17"] .radial .full {
  transform: rotate(30.6deg);
}
.skill-container[data-skill="17"] .radial .mask {
  transform: rotate(30.6deg);
}
.skill-container[data-skill="17"] .radial .mask-fix {
  transform: rotate(45.9deg);
}
.skill-container[data-skill="17"] .radial .numbers {
  min-width: 810px;
}

.skill-container[data-skill="18"] .radial .full {
  transform: rotate(32.4deg);
}
.skill-container[data-skill="18"] .radial .mask {
  transform: rotate(32.4deg);
}
.skill-container[data-skill="18"] .radial .mask-fix {
  transform: rotate(48.6deg);
}
.skill-container[data-skill="18"] .radial .numbers {
  min-width: 855px;
}

.skill-container[data-skill="19"] .radial .full {
  transform: rotate(34.2deg);
}
.skill-container[data-skill="19"] .radial .mask {
  transform: rotate(34.2deg);
}
.skill-container[data-skill="19"] .radial .mask-fix {
  transform: rotate(51.3deg);
}
.skill-container[data-skill="19"] .radial .numbers {
  min-width: 900px;
}

.skill-container[data-skill="20"] .radial .full {
  transform: rotate(36deg);
}
.skill-container[data-skill="20"] .radial .mask {
  transform: rotate(36deg);
}
.skill-container[data-skill="20"] .radial .mask-fix {
  transform: rotate(54deg);
}
.skill-container[data-skill="20"] .radial .numbers {
  min-width: 945px;
}

.skill-container[data-skill="21"] .radial .full {
  transform: rotate(37.8deg);
}
.skill-container[data-skill="21"] .radial .mask {
  transform: rotate(37.8deg);
}
.skill-container[data-skill="21"] .radial .mask-fix {
  transform: rotate(56.7deg);
}
.skill-container[data-skill="21"] .radial .numbers {
  min-width: 990px;
}

.skill-container[data-skill="22"] .radial .full {
  transform: rotate(39.6deg);
}
.skill-container[data-skill="22"] .radial .mask {
  transform: rotate(39.6deg);
}
.skill-container[data-skill="22"] .radial .mask-fix {
  transform: rotate(59.4deg);
}
.skill-container[data-skill="22"] .radial .numbers {
  min-width: 1035px;
}

.skill-container[data-skill="23"] .radial .full {
  transform: rotate(41.4deg);
}
.skill-container[data-skill="23"] .radial .mask {
  transform: rotate(41.4deg);
}
.skill-container[data-skill="23"] .radial .mask-fix {
  transform: rotate(62.1deg);
}
.skill-container[data-skill="23"] .radial .numbers {
  min-width: 1080px;
}

.skill-container[data-skill="24"] .radial .full {
  transform: rotate(43.2deg);
}
.skill-container[data-skill="24"] .radial .mask {
  transform: rotate(43.2deg);
}
.skill-container[data-skill="24"] .radial .mask-fix {
  transform: rotate(64.8deg);
}
.skill-container[data-skill="24"] .radial .numbers {
  min-width: 1125px;
}

.skill-container[data-skill="25"] .radial .full {
  transform: rotate(45deg);
}
.skill-container[data-skill="25"] .radial .mask {
  transform: rotate(45deg);
}
.skill-container[data-skill="25"] .radial .mask-fix {
  transform: rotate(67.5deg);
}
.skill-container[data-skill="25"] .radial .numbers {
  min-width: 1170px;
}

.skill-container[data-skill="26"] .radial .full {
  transform: rotate(46.8deg);
}
.skill-container[data-skill="26"] .radial .mask {
  transform: rotate(46.8deg);
}
.skill-container[data-skill="26"] .radial .mask-fix {
  transform: rotate(70.2deg);
}
.skill-container[data-skill="26"] .radial .numbers {
  min-width: 1215px;
}

.skill-container[data-skill="27"] .radial .full {
  transform: rotate(48.6deg);
}
.skill-container[data-skill="27"] .radial .mask {
  transform: rotate(48.6deg);
}
.skill-container[data-skill="27"] .radial .mask-fix {
  transform: rotate(72.9deg);
}
.skill-container[data-skill="27"] .radial .numbers {
  min-width: 1260px;
}

.skill-container[data-skill="28"] .radial .full {
  transform: rotate(50.4deg);
}
.skill-container[data-skill="28"] .radial .mask {
  transform: rotate(50.4deg);
}
.skill-container[data-skill="28"] .radial .mask-fix {
  transform: rotate(75.6deg);
}
.skill-container[data-skill="28"] .radial .numbers {
  min-width: 1305px;
}

.skill-container[data-skill="29"] .radial .full {
  transform: rotate(52.2deg);
}
.skill-container[data-skill="29"] .radial .mask {
  transform: rotate(52.2deg);
}
.skill-container[data-skill="29"] .radial .mask-fix {
  transform: rotate(78.3deg);
}
.skill-container[data-skill="29"] .radial .numbers {
  min-width: 1350px;
}

.skill-container[data-skill="30"] .radial .full {
  transform: rotate(54deg);
}
.skill-container[data-skill="30"] .radial .mask {
  transform: rotate(54deg);
}
.skill-container[data-skill="30"] .radial .mask-fix {
  transform: rotate(81deg);
}
.skill-container[data-skill="30"] .radial .numbers {
  min-width: 1395px;
}

.skill-container[data-skill="31"] .radial .full {
  transform: rotate(55.8deg);
}
.skill-container[data-skill="31"] .radial .mask {
  transform: rotate(55.8deg);
}
.skill-container[data-skill="31"] .radial .mask-fix {
  transform: rotate(83.7deg);
}
.skill-container[data-skill="31"] .radial .numbers {
  min-width: 1440px;
}

.skill-container[data-skill="32"] .radial .full {
  transform: rotate(57.6deg);
}
.skill-container[data-skill="32"] .radial .mask {
  transform: rotate(57.6deg);
}
.skill-container[data-skill="32"] .radial .mask-fix {
  transform: rotate(86.4deg);
}
.skill-container[data-skill="32"] .radial .numbers {
  min-width: 1485px;
}

.skill-container[data-skill="33"] .radial .full {
  transform: rotate(59.4deg);
}
.skill-container[data-skill="33"] .radial .mask {
  transform: rotate(59.4deg);
}
.skill-container[data-skill="33"] .radial .mask-fix {
  transform: rotate(89.1deg);
}
.skill-container[data-skill="33"] .radial .numbers {
  min-width: 1530px;
}

.skill-container[data-skill="34"] .radial .full {
  transform: rotate(61.2deg);
}
.skill-container[data-skill="34"] .radial .mask {
  transform: rotate(61.2deg);
}
.skill-container[data-skill="34"] .radial .mask-fix {
  transform: rotate(91.8deg);
}
.skill-container[data-skill="34"] .radial .numbers {
  min-width: 1575px;
}

.skill-container[data-skill="35"] .radial .full {
  transform: rotate(63deg);
}
.skill-container[data-skill="35"] .radial .mask {
  transform: rotate(63deg);
}
.skill-container[data-skill="35"] .radial .mask-fix {
  transform: rotate(94.5deg);
}
.skill-container[data-skill="35"] .radial .numbers {
  min-width: 1620px;
}

.skill-container[data-skill="36"] .radial .full {
  transform: rotate(64.8deg);
}
.skill-container[data-skill="36"] .radial .mask {
  transform: rotate(64.8deg);
}
.skill-container[data-skill="36"] .radial .mask-fix {
  transform: rotate(97.2deg);
}
.skill-container[data-skill="36"] .radial .numbers {
  min-width: 1665px;
}

.skill-container[data-skill="37"] .radial .full {
  transform: rotate(66.6deg);
}
.skill-container[data-skill="37"] .radial .mask {
  transform: rotate(66.6deg);
}
.skill-container[data-skill="37"] .radial .mask-fix {
  transform: rotate(99.9deg);
}
.skill-container[data-skill="37"] .radial .numbers {
  min-width: 1710px;
}

.skill-container[data-skill="38"] .radial .full {
  transform: rotate(68.4deg);
}
.skill-container[data-skill="38"] .radial .mask {
  transform: rotate(68.4deg);
}
.skill-container[data-skill="38"] .radial .mask-fix {
  transform: rotate(102.6deg);
}
.skill-container[data-skill="38"] .radial .numbers {
  min-width: 1755px;
}

.skill-container[data-skill="39"] .radial .full {
  transform: rotate(70.2deg);
}
.skill-container[data-skill="39"] .radial .mask {
  transform: rotate(70.2deg);
}
.skill-container[data-skill="39"] .radial .mask-fix {
  transform: rotate(105.3deg);
}
.skill-container[data-skill="39"] .radial .numbers {
  min-width: 1800px;
}

.skill-container[data-skill="40"] .radial .full {
  transform: rotate(72deg);
}
.skill-container[data-skill="40"] .radial .mask {
  transform: rotate(72deg);
}
.skill-container[data-skill="40"] .radial .mask-fix {
  transform: rotate(108deg);
}
.skill-container[data-skill="40"] .radial .numbers {
  min-width: 1845px;
}

.skill-container[data-skill="41"] .radial .full {
  transform: rotate(73.8deg);
}
.skill-container[data-skill="41"] .radial .mask {
  transform: rotate(73.8deg);
}
.skill-container[data-skill="41"] .radial .mask-fix {
  transform: rotate(110.7deg);
}
.skill-container[data-skill="41"] .radial .numbers {
  min-width: 1890px;
}

.skill-container[data-skill="42"] .radial .full {
  transform: rotate(75.6deg);
}
.skill-container[data-skill="42"] .radial .mask {
  transform: rotate(75.6deg);
}
.skill-container[data-skill="42"] .radial .mask-fix {
  transform: rotate(113.4deg);
}
.skill-container[data-skill="42"] .radial .numbers {
  min-width: 1935px;
}

.skill-container[data-skill="43"] .radial .full {
  transform: rotate(77.4deg);
}
.skill-container[data-skill="43"] .radial .mask {
  transform: rotate(77.4deg);
}
.skill-container[data-skill="43"] .radial .mask-fix {
  transform: rotate(116.1deg);
}
.skill-container[data-skill="43"] .radial .numbers {
  min-width: 1980px;
}

.skill-container[data-skill="44"] .radial .full {
  transform: rotate(79.2deg);
}
.skill-container[data-skill="44"] .radial .mask {
  transform: rotate(79.2deg);
}
.skill-container[data-skill="44"] .radial .mask-fix {
  transform: rotate(118.8deg);
}
.skill-container[data-skill="44"] .radial .numbers {
  min-width: 2025px;
}

.skill-container[data-skill="45"] .radial .full {
  transform: rotate(81deg);
}
.skill-container[data-skill="45"] .radial .mask {
  transform: rotate(81deg);
}
.skill-container[data-skill="45"] .radial .mask-fix {
  transform: rotate(121.5deg);
}
.skill-container[data-skill="45"] .radial .numbers {
  min-width: 2070px;
}

.skill-container[data-skill="46"] .radial .full {
  transform: rotate(82.8deg);
}
.skill-container[data-skill="46"] .radial .mask {
  transform: rotate(82.8deg);
}
.skill-container[data-skill="46"] .radial .mask-fix {
  transform: rotate(124.2deg);
}
.skill-container[data-skill="46"] .radial .numbers {
  min-width: 2115px;
}

.skill-container[data-skill="47"] .radial .full {
  transform: rotate(84.6deg);
}
.skill-container[data-skill="47"] .radial .mask {
  transform: rotate(84.6deg);
}
.skill-container[data-skill="47"] .radial .mask-fix {
  transform: rotate(126.9deg);
}
.skill-container[data-skill="47"] .radial .numbers {
  min-width: 2160px;
}

.skill-container[data-skill="48"] .radial .full {
  transform: rotate(86.4deg);
}
.skill-container[data-skill="48"] .radial .mask {
  transform: rotate(86.4deg);
}
.skill-container[data-skill="48"] .radial .mask-fix {
  transform: rotate(129.6deg);
}
.skill-container[data-skill="48"] .radial .numbers {
  min-width: 2205px;
}

.skill-container[data-skill="49"] .radial .full {
  transform: rotate(88.2deg);
}
.skill-container[data-skill="49"] .radial .mask {
  transform: rotate(88.2deg);
}
.skill-container[data-skill="49"] .radial .mask-fix {
  transform: rotate(132.3deg);
}
.skill-container[data-skill="49"] .radial .numbers {
  min-width: 2250px;
}

.skill-container[data-skill="50"] .radial .full {
  transform: rotate(90deg);
}
.skill-container[data-skill="50"] .radial .mask {
  transform: rotate(90deg);
}
.skill-container[data-skill="50"] .radial .mask-fix {
  transform: rotate(135deg);
}
.skill-container[data-skill="50"] .radial .numbers {
  min-width: 2295px;
}

.skill-container[data-skill="51"] .radial .full {
  transform: rotate(91.8deg);
}
.skill-container[data-skill="51"] .radial .mask {
  transform: rotate(91.8deg);
}
.skill-container[data-skill="51"] .radial .mask-fix {
  transform: rotate(137.7deg);
}
.skill-container[data-skill="51"] .radial .numbers {
  min-width: 2340px;
}

.skill-container[data-skill="52"] .radial .full {
  transform: rotate(93.6deg);
}
.skill-container[data-skill="52"] .radial .mask {
  transform: rotate(93.6deg);
}
.skill-container[data-skill="52"] .radial .mask-fix {
  transform: rotate(140.4deg);
}
.skill-container[data-skill="52"] .radial .numbers {
  min-width: 2385px;
}

.skill-container[data-skill="53"] .radial .full {
  transform: rotate(95.4deg);
}
.skill-container[data-skill="53"] .radial .mask {
  transform: rotate(95.4deg);
}
.skill-container[data-skill="53"] .radial .mask-fix {
  transform: rotate(143.1deg);
}
.skill-container[data-skill="53"] .radial .numbers {
  min-width: 2430px;
}

.skill-container[data-skill="54"] .radial .full {
  transform: rotate(97.2deg);
}
.skill-container[data-skill="54"] .radial .mask {
  transform: rotate(97.2deg);
}
.skill-container[data-skill="54"] .radial .mask-fix {
  transform: rotate(145.8deg);
}
.skill-container[data-skill="54"] .radial .numbers {
  min-width: 2475px;
}

.skill-container[data-skill="55"] .radial .full {
  transform: rotate(99deg);
}
.skill-container[data-skill="55"] .radial .mask {
  transform: rotate(99deg);
}
.skill-container[data-skill="55"] .radial .mask-fix {
  transform: rotate(148.5deg);
}
.skill-container[data-skill="55"] .radial .numbers {
  min-width: 2520px;
}

.skill-container[data-skill="56"] .radial .full {
  transform: rotate(100.8deg);
}
.skill-container[data-skill="56"] .radial .mask {
  transform: rotate(100.8deg);
}
.skill-container[data-skill="56"] .radial .mask-fix {
  transform: rotate(151.2deg);
}
.skill-container[data-skill="56"] .radial .numbers {
  min-width: 2565px;
}

.skill-container[data-skill="57"] .radial .full {
  transform: rotate(102.6deg);
}
.skill-container[data-skill="57"] .radial .mask {
  transform: rotate(102.6deg);
}
.skill-container[data-skill="57"] .radial .mask-fix {
  transform: rotate(153.9deg);
}
.skill-container[data-skill="57"] .radial .numbers {
  min-width: 2610px;
}

.skill-container[data-skill="58"] .radial .full {
  transform: rotate(104.4deg);
}
.skill-container[data-skill="58"] .radial .mask {
  transform: rotate(104.4deg);
}
.skill-container[data-skill="58"] .radial .mask-fix {
  transform: rotate(156.6deg);
}
.skill-container[data-skill="58"] .radial .numbers {
  min-width: 2655px;
}

.skill-container[data-skill="59"] .radial .full {
  transform: rotate(106.2deg);
}
.skill-container[data-skill="59"] .radial .mask {
  transform: rotate(106.2deg);
}
.skill-container[data-skill="59"] .radial .mask-fix {
  transform: rotate(159.3deg);
}
.skill-container[data-skill="59"] .radial .numbers {
  min-width: 2700px;
}

.skill-container[data-skill="60"] .radial .full {
  transform: rotate(108deg);
}
.skill-container[data-skill="60"] .radial .mask {
  transform: rotate(108deg);
}
.skill-container[data-skill="60"] .radial .mask-fix {
  transform: rotate(162deg);
}
.skill-container[data-skill="60"] .radial .numbers {
  min-width: 2745px;
}

.skill-container[data-skill="61"] .radial .full {
  transform: rotate(109.8deg);
}
.skill-container[data-skill="61"] .radial .mask {
  transform: rotate(109.8deg);
}
.skill-container[data-skill="61"] .radial .mask-fix {
  transform: rotate(164.7deg);
}
.skill-container[data-skill="61"] .radial .numbers {
  min-width: 2790px;
}

.skill-container[data-skill="62"] .radial .full {
  transform: rotate(111.6deg);
}
.skill-container[data-skill="62"] .radial .mask {
  transform: rotate(111.6deg);
}
.skill-container[data-skill="62"] .radial .mask-fix {
  transform: rotate(167.4deg);
}
.skill-container[data-skill="62"] .radial .numbers {
  min-width: 2835px;
}

.skill-container[data-skill="63"] .radial .full {
  transform: rotate(113.4deg);
}
.skill-container[data-skill="63"] .radial .mask {
  transform: rotate(113.4deg);
}
.skill-container[data-skill="63"] .radial .mask-fix {
  transform: rotate(170.1deg);
}
.skill-container[data-skill="63"] .radial .numbers {
  min-width: 2880px;
}

.skill-container[data-skill="64"] .radial .full {
  transform: rotate(115.2deg);
}
.skill-container[data-skill="64"] .radial .mask {
  transform: rotate(115.2deg);
}
.skill-container[data-skill="64"] .radial .mask-fix {
  transform: rotate(172.8deg);
}
.skill-container[data-skill="64"] .radial .numbers {
  min-width: 2925px;
}

.skill-container[data-skill="65"] .radial .full {
  transform: rotate(117deg);
}
.skill-container[data-skill="65"] .radial .mask {
  transform: rotate(117deg);
}
.skill-container[data-skill="65"] .radial .mask-fix {
  transform: rotate(175.5deg);
}
.skill-container[data-skill="65"] .radial .numbers {
  min-width: 2970px;
}

.skill-container[data-skill="66"] .radial .full {
  transform: rotate(118.8deg);
}
.skill-container[data-skill="66"] .radial .mask {
  transform: rotate(118.8deg);
}
.skill-container[data-skill="66"] .radial .mask-fix {
  transform: rotate(178.2deg);
}
.skill-container[data-skill="66"] .radial .numbers {
  min-width: 3015px;
}

.skill-container[data-skill="67"] .radial .full {
  transform: rotate(120.6deg);
}
.skill-container[data-skill="67"] .radial .mask {
  transform: rotate(120.6deg);
}
.skill-container[data-skill="67"] .radial .mask-fix {
  transform: rotate(180.9deg);
}
.skill-container[data-skill="67"] .radial .numbers {
  min-width: 3060px;
}

.skill-container[data-skill="68"] .radial .full {
  transform: rotate(122.4deg);
}
.skill-container[data-skill="68"] .radial .mask {
  transform: rotate(122.4deg);
}
.skill-container[data-skill="68"] .radial .mask-fix {
  transform: rotate(183.6deg);
}
.skill-container[data-skill="68"] .radial .numbers {
  min-width: 3105px;
}

.skill-container[data-skill="69"] .radial .full {
  transform: rotate(124.2deg);
}
.skill-container[data-skill="69"] .radial .mask {
  transform: rotate(124.2deg);
}
.skill-container[data-skill="69"] .radial .mask-fix {
  transform: rotate(186.3deg);
}
.skill-container[data-skill="69"] .radial .numbers {
  min-width: 3150px;
}

.skill-container[data-skill="70"] .radial .full {
  transform: rotate(126deg);
}
.skill-container[data-skill="70"] .radial .mask {
  transform: rotate(126deg);
}
.skill-container[data-skill="70"] .radial .mask-fix {
  transform: rotate(189deg);
}
.skill-container[data-skill="70"] .radial .numbers {
  min-width: 3195px;
}

.skill-container[data-skill="71"] .radial .full {
  transform: rotate(127.8deg);
}
.skill-container[data-skill="71"] .radial .mask {
  transform: rotate(127.8deg);
}
.skill-container[data-skill="71"] .radial .mask-fix {
  transform: rotate(191.7deg);
}
.skill-container[data-skill="71"] .radial .numbers {
  min-width: 3240px;
}

.skill-container[data-skill="72"] .radial .full {
  transform: rotate(129.6deg);
}
.skill-container[data-skill="72"] .radial .mask {
  transform: rotate(129.6deg);
}
.skill-container[data-skill="72"] .radial .mask-fix {
  transform: rotate(194.4deg);
}
.skill-container[data-skill="72"] .radial .numbers {
  min-width: 3285px;
}

.skill-container[data-skill="73"] .radial .full {
  transform: rotate(131.4deg);
}
.skill-container[data-skill="73"] .radial .mask {
  transform: rotate(131.4deg);
}
.skill-container[data-skill="73"] .radial .mask-fix {
  transform: rotate(197.1deg);
}
.skill-container[data-skill="73"] .radial .numbers {
  min-width: 3330px;
}

.skill-container[data-skill="74"] .radial .full {
  transform: rotate(133.2deg);
}
.skill-container[data-skill="74"] .radial .mask {
  transform: rotate(133.2deg);
}
.skill-container[data-skill="74"] .radial .mask-fix {
  transform: rotate(199.8deg);
}
.skill-container[data-skill="74"] .radial .numbers {
  min-width: 3375px;
}

.skill-container[data-skill="75"] .radial .full {
  transform: rotate(135deg);
}
.skill-container[data-skill="75"] .radial .mask {
  transform: rotate(135deg);
}
.skill-container[data-skill="75"] .radial .mask-fix {
  transform: rotate(202.5deg);
}
.skill-container[data-skill="75"] .radial .numbers {
  min-width: 3420px;
}

.skill-container[data-skill="76"] .radial .full {
  transform: rotate(136.8deg);
}
.skill-container[data-skill="76"] .radial .mask {
  transform: rotate(136.8deg);
}
.skill-container[data-skill="76"] .radial .mask-fix {
  transform: rotate(205.2deg);
}
.skill-container[data-skill="76"] .radial .numbers {
  min-width: 3465px;
}

.skill-container[data-skill="77"] .radial .full {
  transform: rotate(138.6deg);
}
.skill-container[data-skill="77"] .radial .mask {
  transform: rotate(138.6deg);
}
.skill-container[data-skill="77"] .radial .mask-fix {
  transform: rotate(207.9deg);
}
.skill-container[data-skill="77"] .radial .numbers {
  min-width: 3510px;
}

.skill-container[data-skill="78"] .radial .full {
  transform: rotate(140.4deg);
}
.skill-container[data-skill="78"] .radial .mask {
  transform: rotate(140.4deg);
}
.skill-container[data-skill="78"] .radial .mask-fix {
  transform: rotate(210.6deg);
}
.skill-container[data-skill="78"] .radial .numbers {
  min-width: 3555px;
}

.skill-container[data-skill="79"] .radial .full {
  transform: rotate(142.2deg);
}
.skill-container[data-skill="79"] .radial .mask {
  transform: rotate(142.2deg);
}
.skill-container[data-skill="79"] .radial .mask-fix {
  transform: rotate(213.3deg);
}
.skill-container[data-skill="79"] .radial .numbers {
  min-width: 3600px;
}

.skill-container[data-skill="80"] .radial .full {
  transform: rotate(144deg);
}
.skill-container[data-skill="80"] .radial .mask {
  transform: rotate(144deg);
}
.skill-container[data-skill="80"] .radial .mask-fix {
  transform: rotate(216deg);
}
.skill-container[data-skill="80"] .radial .numbers {
  min-width: 3645px;
}

.skill-container[data-skill="81"] .radial .full {
  transform: rotate(145.8deg);
}
.skill-container[data-skill="81"] .radial .mask {
  transform: rotate(145.8deg);
}
.skill-container[data-skill="81"] .radial .mask-fix {
  transform: rotate(218.7deg);
}
.skill-container[data-skill="81"] .radial .numbers {
  min-width: 3690px;
}

.skill-container[data-skill="82"] .radial .full {
  transform: rotate(147.6deg);
}
.skill-container[data-skill="82"] .radial .mask {
  transform: rotate(147.6deg);
}
.skill-container[data-skill="82"] .radial .mask-fix {
  transform: rotate(221.4deg);
}
.skill-container[data-skill="82"] .radial .numbers {
  min-width: 3735px;
}

.skill-container[data-skill="83"] .radial .full {
  transform: rotate(149.4deg);
}
.skill-container[data-skill="83"] .radial .mask {
  transform: rotate(149.4deg);
}
.skill-container[data-skill="83"] .radial .mask-fix {
  transform: rotate(224.1deg);
}
.skill-container[data-skill="83"] .radial .numbers {
  min-width: 3780px;
}

.skill-container[data-skill="84"] .radial .full {
  transform: rotate(151.2deg);
}
.skill-container[data-skill="84"] .radial .mask {
  transform: rotate(151.2deg);
}
.skill-container[data-skill="84"] .radial .mask-fix {
  transform: rotate(226.8deg);
}
.skill-container[data-skill="84"] .radial .numbers {
  min-width: 3825px;
}

.skill-container[data-skill="85"] .radial .full {
  transform: rotate(153deg);
}
.skill-container[data-skill="85"] .radial .mask {
  transform: rotate(153deg);
}
.skill-container[data-skill="85"] .radial .mask-fix {
  transform: rotate(229.5deg);
}
.skill-container[data-skill="85"] .radial .numbers {
  min-width: 3870px;
}

.skill-container[data-skill="86"] .radial .full {
  transform: rotate(154.8deg);
}
.skill-container[data-skill="86"] .radial .mask {
  transform: rotate(154.8deg);
}
.skill-container[data-skill="86"] .radial .mask-fix {
  transform: rotate(232.2deg);
}
.skill-container[data-skill="86"] .radial .numbers {
  min-width: 3915px;
}

.skill-container[data-skill="87"] .radial .full {
  transform: rotate(156.6deg);
}
.skill-container[data-skill="87"] .radial .mask {
  transform: rotate(156.6deg);
}
.skill-container[data-skill="87"] .radial .mask-fix {
  transform: rotate(234.9deg);
}
.skill-container[data-skill="87"] .radial .numbers {
  min-width: 3960px;
}

.skill-container[data-skill="88"] .radial .full {
  transform: rotate(158.4deg);
}
.skill-container[data-skill="88"] .radial .mask {
  transform: rotate(158.4deg);
}
.skill-container[data-skill="88"] .radial .mask-fix {
  transform: rotate(237.6deg);
}
.skill-container[data-skill="88"] .radial .numbers {
  min-width: 4005px;
}

.skill-container[data-skill="89"] .radial .full {
  transform: rotate(160.2deg);
}
.skill-container[data-skill="89"] .radial .mask {
  transform: rotate(160.2deg);
}
.skill-container[data-skill="89"] .radial .mask-fix {
  transform: rotate(240.3deg);
}
.skill-container[data-skill="89"] .radial .numbers {
  min-width: 4050px;
}

.skill-container[data-skill="90"] .radial .full {
  transform: rotate(162deg);
}
.skill-container[data-skill="90"] .radial .mask {
  transform: rotate(162deg);
}
.skill-container[data-skill="90"] .radial .mask-fix {
  transform: rotate(243deg);
}
.skill-container[data-skill="90"] .radial .numbers {
  min-width: 4095px;
}

.skill-container[data-skill="91"] .radial .full {
  transform: rotate(163.8deg);
}
.skill-container[data-skill="91"] .radial .mask {
  transform: rotate(163.8deg);
}
.skill-container[data-skill="91"] .radial .mask-fix {
  transform: rotate(245.7deg);
}
.skill-container[data-skill="91"] .radial .numbers {
  min-width: 4140px;
}

.skill-container[data-skill="92"] .radial .full {
  transform: rotate(165.6deg);
}
.skill-container[data-skill="92"] .radial .mask {
  transform: rotate(165.6deg);
}
.skill-container[data-skill="92"] .radial .mask-fix {
  transform: rotate(248.4deg);
}
.skill-container[data-skill="92"] .radial .numbers {
  min-width: 4185px;
}

.skill-container[data-skill="93"] .radial .full {
  transform: rotate(167.4deg);
}
.skill-container[data-skill="93"] .radial .mask {
  transform: rotate(167.4deg);
}
.skill-container[data-skill="93"] .radial .mask-fix {
  transform: rotate(251.1deg);
}
.skill-container[data-skill="93"] .radial .numbers {
  min-width: 4230px;
}

.skill-container[data-skill="94"] .radial .full {
  transform: rotate(169.2deg);
}
.skill-container[data-skill="94"] .radial .mask {
  transform: rotate(169.2deg);
}
.skill-container[data-skill="94"] .radial .mask-fix {
  transform: rotate(253.8deg);
}
.skill-container[data-skill="94"] .radial .numbers {
  min-width: 4275px;
}

.skill-container[data-skill="95"] .radial .full {
  transform: rotate(171deg);
}
.skill-container[data-skill="95"] .radial .mask {
  transform: rotate(171deg);
}
.skill-container[data-skill="95"] .radial .mask-fix {
  transform: rotate(256.5deg);
}
.skill-container[data-skill="95"] .radial .numbers {
  min-width: 4320px;
}

.skill-container[data-skill="96"] .radial .full {
  transform: rotate(172.8deg);
}
.skill-container[data-skill="96"] .radial .mask {
  transform: rotate(172.8deg);
}
.skill-container[data-skill="96"] .radial .mask-fix {
  transform: rotate(259.2deg);
}
.skill-container[data-skill="96"] .radial .numbers {
  min-width: 4365px;
}

.skill-container[data-skill="97"] .radial .full {
  transform: rotate(174.6deg);
}
.skill-container[data-skill="97"] .radial .mask {
  transform: rotate(174.6deg);
}
.skill-container[data-skill="97"] .radial .mask-fix {
  transform: rotate(261.9deg);
}
.skill-container[data-skill="97"] .radial .numbers {
  min-width: 4410px;
}

.skill-container[data-skill="98"] .radial .full {
  transform: rotate(176.4deg);
}
.skill-container[data-skill="98"] .radial .mask {
  transform: rotate(176.4deg);
}
.skill-container[data-skill="98"] .radial .mask-fix {
  transform: rotate(264.6deg);
}
.skill-container[data-skill="98"] .radial .numbers {
  min-width: 4455px;
}

.skill-container[data-skill="99"] .radial .full {
  transform: rotate(178.2deg);
}
.skill-container[data-skill="99"] .radial .mask {
  transform: rotate(178.2deg);
}
.skill-container[data-skill="99"] .radial .mask-fix {
  transform: rotate(267.3deg);
}
.skill-container[data-skill="99"] .radial .numbers {
  min-width: 4500px;
}

.skill-container[data-skill="100"] .radial .full {
  transform: rotate(180deg);
}
.skill-container[data-skill="100"] .radial .mask {
  transform: rotate(180deg);
}
.skill-container[data-skill="100"] .radial .mask-fix {
  transform: rotate(270deg);
}
.skill-container[data-skill="100"] .radial .numbers {
  min-width: 4545px;
}

.knowledge {
  display: flex;
  flex-direction: column;
}
.knowledge-header {
  display: block;
  text-align: left;
}
.knowledge-header h2 {
  font-size: 1.4em;
  font-weight: 400;
}
.knowledge-container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
.knowledge-bars {
  display: flex;
  position: relative;
  width: 100%;
  height: 240px;
  margin: auto;
  flex-direction: row;
  align-items: flex-end;
}
.knowledge-bars .border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  box-shadow: -3px 3px 1px 0 rgba(0, 0, 0, 0.15);
}
.knowledge-bars .bar {
  position: relative;
  width: 12%;
  margin: 0 4%;
  transition: all 1.7s ease;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
  background-color: #e5e5e5;
}
.knowledge-bars .bar span {
  position: absolute;
  bottom: 0;
  margin-bottom: -30px;
  color: white;
  font-size: 1em;
}

.knowledge-bars .bar[data-bar="0"] {
  height: 0px;
}

.knowledge-bars .bar[data-bar="1"] {
  height: 2.4px;
}

.knowledge-bars .bar[data-bar="2"] {
  height: 4.8px;
}

.knowledge-bars .bar[data-bar="3"] {
  height: 7.2px;
}

.knowledge-bars .bar[data-bar="4"] {
  height: 9.6px;
}

.knowledge-bars .bar[data-bar="5"] {
  height: 12px;
}

.knowledge-bars .bar[data-bar="6"] {
  height: 14.4px;
}

.knowledge-bars .bar[data-bar="7"] {
  height: 16.8px;
}

.knowledge-bars .bar[data-bar="8"] {
  height: 19.2px;
}

.knowledge-bars .bar[data-bar="9"] {
  height: 21.6px;
}

.knowledge-bars .bar[data-bar="10"] {
  height: 24px;
}

.knowledge-bars .bar[data-bar="11"] {
  height: 26.4px;
}

.knowledge-bars .bar[data-bar="12"] {
  height: 28.8px;
}

.knowledge-bars .bar[data-bar="13"] {
  height: 31.2px;
}

.knowledge-bars .bar[data-bar="14"] {
  height: 33.6px;
}

.knowledge-bars .bar[data-bar="15"] {
  height: 36px;
}

.knowledge-bars .bar[data-bar="16"] {
  height: 38.4px;
}

.knowledge-bars .bar[data-bar="17"] {
  height: 40.8px;
}

.knowledge-bars .bar[data-bar="18"] {
  height: 43.2px;
}

.knowledge-bars .bar[data-bar="19"] {
  height: 45.6px;
}

.knowledge-bars .bar[data-bar="20"] {
  height: 48px;
}

.knowledge-bars .bar[data-bar="21"] {
  height: 50.4px;
}

.knowledge-bars .bar[data-bar="22"] {
  height: 52.8px;
}

.knowledge-bars .bar[data-bar="23"] {
  height: 55.2px;
}

.knowledge-bars .bar[data-bar="24"] {
  height: 57.6px;
}

.knowledge-bars .bar[data-bar="25"] {
  height: 60px;
}

.knowledge-bars .bar[data-bar="26"] {
  height: 62.4px;
}

.knowledge-bars .bar[data-bar="27"] {
  height: 64.8px;
}

.knowledge-bars .bar[data-bar="28"] {
  height: 67.2px;
}

.knowledge-bars .bar[data-bar="29"] {
  height: 69.6px;
}

.knowledge-bars .bar[data-bar="30"] {
  height: 72px;
}

.knowledge-bars .bar[data-bar="31"] {
  height: 74.4px;
}

.knowledge-bars .bar[data-bar="32"] {
  height: 76.8px;
}

.knowledge-bars .bar[data-bar="33"] {
  height: 79.2px;
}

.knowledge-bars .bar[data-bar="34"] {
  height: 81.6px;
}

.knowledge-bars .bar[data-bar="35"] {
  height: 84px;
}

.knowledge-bars .bar[data-bar="36"] {
  height: 86.4px;
}

.knowledge-bars .bar[data-bar="37"] {
  height: 88.8px;
}

.knowledge-bars .bar[data-bar="38"] {
  height: 91.2px;
}

.knowledge-bars .bar[data-bar="39"] {
  height: 93.6px;
}

.knowledge-bars .bar[data-bar="40"] {
  height: 96px;
}

.knowledge-bars .bar[data-bar="41"] {
  height: 98.4px;
}

.knowledge-bars .bar[data-bar="42"] {
  height: 100.8px;
}

.knowledge-bars .bar[data-bar="43"] {
  height: 103.2px;
}

.knowledge-bars .bar[data-bar="44"] {
  height: 105.6px;
}

.knowledge-bars .bar[data-bar="45"] {
  height: 108px;
}

.knowledge-bars .bar[data-bar="46"] {
  height: 110.4px;
}

.knowledge-bars .bar[data-bar="47"] {
  height: 112.8px;
}

.knowledge-bars .bar[data-bar="48"] {
  height: 115.2px;
}

.knowledge-bars .bar[data-bar="49"] {
  height: 117.6px;
}

.knowledge-bars .bar[data-bar="50"] {
  height: 120px;
}

.knowledge-bars .bar[data-bar="51"] {
  height: 122.4px;
}

.knowledge-bars .bar[data-bar="52"] {
  height: 124.8px;
}

.knowledge-bars .bar[data-bar="53"] {
  height: 127.2px;
}

.knowledge-bars .bar[data-bar="54"] {
  height: 129.6px;
}

.knowledge-bars .bar[data-bar="55"] {
  height: 132px;
}

.knowledge-bars .bar[data-bar="56"] {
  height: 134.4px;
}

.knowledge-bars .bar[data-bar="57"] {
  height: 136.8px;
}

.knowledge-bars .bar[data-bar="58"] {
  height: 139.2px;
}

.knowledge-bars .bar[data-bar="59"] {
  height: 141.6px;
}

.knowledge-bars .bar[data-bar="60"] {
  height: 144px;
}

.knowledge-bars .bar[data-bar="61"] {
  height: 146.4px;
}

.knowledge-bars .bar[data-bar="62"] {
  height: 148.8px;
}

.knowledge-bars .bar[data-bar="63"] {
  height: 151.2px;
}

.knowledge-bars .bar[data-bar="64"] {
  height: 153.6px;
}

.knowledge-bars .bar[data-bar="65"] {
  height: 156px;
}

.knowledge-bars .bar[data-bar="66"] {
  height: 158.4px;
}

.knowledge-bars .bar[data-bar="67"] {
  height: 160.8px;
}

.knowledge-bars .bar[data-bar="68"] {
  height: 163.2px;
}

.knowledge-bars .bar[data-bar="69"] {
  height: 165.6px;
}

.knowledge-bars .bar[data-bar="70"] {
  height: 168px;
}

.knowledge-bars .bar[data-bar="71"] {
  height: 170.4px;
}

.knowledge-bars .bar[data-bar="72"] {
  height: 172.8px;
}

.knowledge-bars .bar[data-bar="73"] {
  height: 175.2px;
}

.knowledge-bars .bar[data-bar="74"] {
  height: 177.6px;
}

.knowledge-bars .bar[data-bar="75"] {
  height: 180px;
}

.knowledge-bars .bar[data-bar="76"] {
  height: 182.4px;
}

.knowledge-bars .bar[data-bar="77"] {
  height: 184.8px;
}

.knowledge-bars .bar[data-bar="78"] {
  height: 187.2px;
}

.knowledge-bars .bar[data-bar="79"] {
  height: 189.6px;
}

.knowledge-bars .bar[data-bar="80"] {
  height: 192px;
}

.knowledge-bars .bar[data-bar="81"] {
  height: 194.4px;
}

.knowledge-bars .bar[data-bar="82"] {
  height: 196.8px;
}

.knowledge-bars .bar[data-bar="83"] {
  height: 199.2px;
}

.knowledge-bars .bar[data-bar="84"] {
  height: 201.6px;
}

.knowledge-bars .bar[data-bar="85"] {
  height: 204px;
}

.knowledge-bars .bar[data-bar="86"] {
  height: 206.4px;
}

.knowledge-bars .bar[data-bar="87"] {
  height: 208.8px;
}

.knowledge-bars .bar[data-bar="88"] {
  height: 211.2px;
}

.knowledge-bars .bar[data-bar="89"] {
  height: 213.6px;
}

.knowledge-bars .bar[data-bar="90"] {
  height: 216px;
}

.knowledge-bars .bar[data-bar="91"] {
  height: 218.4px;
}

.knowledge-bars .bar[data-bar="92"] {
  height: 220.8px;
}

.knowledge-bars .bar[data-bar="93"] {
  height: 223.2px;
}

.knowledge-bars .bar[data-bar="94"] {
  height: 225.6px;
}

.knowledge-bars .bar[data-bar="95"] {
  height: 228px;
}

.knowledge-bars .bar[data-bar="96"] {
  height: 230.4px;
}

.knowledge-bars .bar[data-bar="97"] {
  height: 232.8px;
}

.knowledge-bars .bar[data-bar="98"] {
  height: 235.2px;
}

.knowledge-bars .bar[data-bar="99"] {
  height: 237.6px;
}

.knowledge-bars .bar[data-bar="100"] {
  height: 240px;
}

.wrapper {
  margin: 0 0 0 110px;
  height: 100%;
  min-height: 100%;
}
@media (max-width: 760px) {
  .wrapper {
    margin: 51px 0 0 0;
  }
}

/*# sourceMappingURL=main.css.map */
